* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.about-page {
  width: 100%;
}
.about-one-section {
  width: 100%;
}
.about-one-section img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
}
.about-one-section p {
  color: white;
  font-size: 40px;
  margin-left: 110px;
  position: absolute;
  margin-top: -120px;
}
.about-two-section {
  width: 100%;
  padding: 30px 150px;
  display: flex;
  gap: 20px;
  margin-top: 60px;
}
.about-rotate {
  /* width: 25%; */
  width: 300px;

  padding: 10px 0px 0 40px;
}
.about-rotate img {
  border-radius: 50%;
  border: 2px solid black;
  width: 80px;
  height: 80px;
  transition: 0.5s;
}
.about-rotate img:hover {
  transform: translateY(-40px);
}

.about-rotate .both {
  margin-left: 40px;
  margin-top: 30px;
}
.about-rotate .imageOne {
  margin-top: 30px;
}
.about-rotate .imageTwo {
  margin-left: 30px;
}
.about-rotate .imageFour {
  margin-left: 30px;
}
.about-rotate .imageOne,
.about-rotate .imageFour {
  width: 70px;
  height: 70px;
}
.about-par {
  /* width: 75%; */
  width: 850px;
}
.about-par h1 {
  margin-bottom: 20px;
  color: #334a60;
}
.about-thrird-section {
  display: flex;
  background-color: rgba(255, 255, 255, 0.83);
  margin-top: 80px;
  color: black;
  /* width: 1499px; */
  width: 100%;
  padding-top: 50px;
}
.about-thrird-section .about-right {
  width: 18%;

  padding-top: 160px;
  padding-left: 20px;
}
.right-image {
  display: flex;
}
.about-thrird-section .about-right img {
  width: 110px;
  height: 100px;
  border-radius: 7px;
  margin: 5px;
  object-fit: cover;
}
.about-thrird-section .about-left {
  width: 18%;
  /* padding-right: 20px; */
  margin-right: 20px;
  float: right;
}
.left-images {
  display: flex;
  justify-content: space-between;
}
.about-thrird-section .about-left img {
  width: 110px;
  height: 100px;
  border-radius: 7px;
  margin: 5px;
  object-fit: cover;
}
.about-thrird-section .about-left .key {
  margin-left: 120px;
}
.about-thrird-section .about-paragraph {
  width: 64%;
  text-align: center;
  padding: 20px 100px 100px 100px;
  font-size: 20px;
}
.about-thrird-section .about-paragraph h2 {
  margin-bottom: 30px;
}
.about-founder {
  padding: 40px 100px;
  background-color: white;
  color: black;
}
.about-founder h2 {
  margin-bottom: 20px;
}
.about-founder .para {
  color: black;
  margin-bottom: 20px;
  width: 1000px;
  font-weight: normal;
}
.about-founder .founder-one {
  display: flex;
  gap: 30px;
  padding: 40px;
  border: 2px solid rgb(190, 190, 190);
  border-radius: 20px;
  margin-bottom: 10px;
}
.about-founder .founder-one img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}
.about-founder .founder-one .founder-description {
  margin-top: 10px;
}
.about-founder .founder-one .founder-description h3 {
  margin-bottom: 20px;
}
.about-icon {
  margin-left: 1190px;
  margin-bottom: 20px;
}
.about-icon span i {
  background-color: rgb(221, 220, 220);
  font-size: 40px;
  border-radius: 50%;
}
.why-about {
  /* background-color: rgb(221, 220, 220); */
  background-color: #fdf8f836;
  color: black;
  margin: 30px 480px;
  padding: 80px 30px;
  border-radius: 20px;
}
.why-about h3 {
  margin-bottom: 20px;
}
.leadership-form {
  padding: 30px 150px;
  display: flex;
  gap: 20px;
}
.about-leader {
  background-color: #fdf8f8;
  border-radius: 3px;
  padding-bottom: 50px;
  position: relative;
  width: 250px;
  color: black;
}
.about-leader img {
  width: 100%;
  /* height: 280px; */
  padding: 30px;
  object-fit: cover;
  transition: 03s;
}
.about-leader:hover img {
  transform: scale(1.1);
}
.about-leader h3 {
  margin-left: 40px;
  cursor: pointer;
}
.about-leader h3:hover {
  color: #33d4d6;
}
.about-leader p {
  padding: 10px;
}

.about-path {
  height: 60px;
  width: 60px;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 50%);
  background-color: #334a6026;
  margin-top: -100px;
  margin-left: 220px;
  position: absolute;
}
.about-leads {
  margin-top: 50px;
}
.about-leads p {
  text-align: center;
  padding-top: 20px;
}
.about-leads h1 {
  text-align: center;
  color: #334a60;
  font-size: 23px;
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  .about-two-section {
    display: block;

    padding: 0;
  }
  .about-rotate {
    display: flex;

    justify-content: space-between;
  }
  .about-par {
    width: 100%;
    padding: 10px;
  }
  .about-thrird-section {
    display: block;
    padding: 0;
  }
  .about-thrird-section .about-right {
    width: 100%;
    padding: 0;
  }

  .about-thrird-section .about-right img {
    width: 50%;
  }
  .about-thrird-section .about-paragraph {
    width: 100%;
    padding: 10px;
  }
  .about-thrird-section .about-paragraph p {
    font-size: 15px;
  }
  .about-thrird-section .about-left {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .about-thrird-section .about-left img {
    width: 40%;
    padding: 0;
  }
  .about-founder {
    padding: 260px 0 0 0;
    width: 100%;
  }
  .about-founder h2 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 5px;
    padding: 30px;
  }
  .about-founder p {
    padding: 20px;
  }
  .para {
    width: 100% !important;
  }
  .about-founder .founder-one {
    display: block;
    padding: 0;
  }
  .about-founder .founder-one img {
    width: 100%;
    border-radius: 20px;
  }
  .about-founder .founder-one h3 {
    font-weight: 700;
    font-size: 22px;
  }
  .about-leads p {
    padding: 10px;
  }
  .leadership-form {
    /* padding: 30px 150px; */
    display: block;
    padding: 0;
    width: 100%;
  }
  .about-leader {
    width: 100%;
  }
  .about-leader img {
    width: 100%;
    padding: 0;
  }
  .about-path {
    display: none;
  }
  .about-one-section p {
    font-size: 25px;
    margin-left: 10%;
  }
}
