* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: poppins;
}
h2 {
  font-weight: bold;
}
.para {
  color: #334a60;
  font-weight: 600;
}
#Tech {
  font-size: 32px;
}
.designer {
  background-color: #5ca1a1;
  color: white;
  border-radius: 50px;
  height: 35px;
  width: 35px;
}
.frontend {
  background-color: #357c7d;
  color: white;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  margin-left: 10px;
}
.backend {
  background-color: #800c0c;
  color: white;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  margin-left: 10px;
}
.whole {
  display: flex;
  margin-top: 30px;
}
h4 {
  margin-top: 10px;
  color: #334a60;
  margin-left: 5px;
}
.button {
  background: linear-gradient(to bottom, #c4eced, #319091);
  height: 40px;
  font-weight: bold;
  border: none;
  width: 120px;
  border-radius: 5px;
  font-size: 13px;
}
#btn {
  margin-top: 30px;
}

.par {
  margin-top: 30px;
  /* line-height: 2; */
}

.left {
  margin-left: 60px;
  margin-top: 20px;
  font-size: 16px;
  width: 60%;
}
.rigth {
  background-image: url(../firsthomesection/image/download.jpeg);
  object-fit: cover;
  width: 35%;
  height: 350px;

  border-radius: 10px;
  margin-top: 20px;
  margin-right: 99px;
  background-size: cover;
}
.container-firstSection {
  display: flex;
  background-image: linear-gradient(white, black);
  color: black;
}
.lin {
  display: flex;
  justify-content: space-between;
}
.fitIn,
.fitIt {
  flex-grow: 1;
  height: 100%; /* Adjust the height as needed */
  background-color: gray; /* Replace with desired background color */
  display: flex;
  align-items: center;
}
.co {
  height: 5px;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(to bottom, #c4eced, #319091);
}

@keyframes SlideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(40px);
  }
}

@keyframes SlideInRigth {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(10px);
  }
}
.left {
  animation-name: SlideInLeft;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  transform: translateX(2px);
  line-height: 2;
}

.rigth {
  width: 660px;
  height: 350px;
  animation-name: SlideInRigth;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  transform: translateX(20px);
}

.partners {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 0.5px solid #33d4d6;
  margin-left: 50px;
  padding: 20px;
  margin-right: 99px;
}
.under {
  width: 420px;
  height: 3px;
  background-color: #319091;
}
.undr {
  width: 420px;
  height: 3px;
  background-color: #319091;
  margin-left: 10px;
}
h3 {
  margin-left: 9px;
  margin-top: -12px;
}
i {
  margin-top: 10px;
  margin-left: 10px;
}
.mini {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.mastercard,
.giz,
.microsoft,
.DTC {
  padding: 0px 5px;
  width: 100%;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.holdPatners {
  display: flex;
  justify-content: center;
}
.partners {
  width: 96%;
  animation-name: bounce;
}

@media screen and (max-width: 576px) {
  .partners {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0.5px solid #33d4d6;
    margin: 3px;
    padding: 7px;
    margin-right: 0px;
  }

  .container-firstSection {
    display: grid;
    grid-template-areas:
      "right"
      "left";
  }
  .rigth {
    width: 90%;
    height: 200px;
    grid-area: right;
  }
  #btn {
    margin-top: 10px;
  }
  .left {
    grid-area: left;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;
  }
  #Tech {
    font-size: 25px;
  }
  .par {
    margin-top: 5px;
  }
  .whole {
    margin-top: 5px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .partners {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0.5px solid #33d4d6;
    margin: 3px;
    padding: 7px;
    margin-right: 0px;
  }

  .container-firstSection {
    display: grid;
    grid-template-areas:
      "right"
      "left";
  }
  .rigth {
    width: 95%;
    height: 330px;
    grid-area: right;
  }
  #btn {
    margin-top: 10px;
  }
  .left {
    grid-area: left;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;
  }
  #Tech {
    font-size: 35px;
  }
  .par {
    font-weight: 600;
    margin-top: 5px;
  }
  .whole {
    margin-top: 5px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .partners {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0.5px solid #33d4d6;
    margin: 3px;
    padding: 7px;
    margin-right: 0px;
  }

  .container-firstSection {
    display: grid;
    grid-template-areas:
      "right"
      "left";
  }
  .rigth {
    width: 95%;
    height: 330px;
    grid-area: right;
  }
  #btn {
    margin-top: 10px;
  }
  .left {
    grid-area: left;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;
  }
  #Tech {
    font-size: 35px;
  }
  .par {
    margin-top: 5px;
  }
  .whole {
    margin-top: 5px;
  }
}

@media screen and ((min-width: 1201)) {
}
