body {
  /* background-color: #061927;
    background-color: #082940; */
  color: white;
  /* background-color: #efedf4; */

  /* background-color: #1D2228;
    color: white; */

  /* 9
    background-color: #1A2238;
    color: white; */

  background-color: #343434;
  /* background-color: #183647; */
  /* color: white; */
}
