* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.alumni-page {
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
  height: 300px;
  animation: slideInUp 3s;
}
@keyframes slideInUp {
  from {
    transform: translateY(300px);
  }
  to {
    transform: translateY(0);
  }
}
.alumni-page h1 {
  text-align: center;
  font-size: 20px;
}
.alumni-page h1::after {
  content: "";
  background: linear-gradient(#33d4d6, white);
  display: block;
  height: 6px;
  width: 100px;
  margin-top: 15px;
  margin: auto;
}

.image-cards {
  margin-top: 40px;
  width: 400%;
}
.image-cards .apps-box {
  width: 100%;
  display: flex;
  gap: 40px;
  transition: all 03s;
  z-index: -5;
  animation: slide 180s infinite linear;
  animation-iteration-count: infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
  /* 0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-100% + 320px));
  }
  100% {
    transform: translateX(-100%);
  } */
}
.image-cards .apps-box .apps {
  overflow: hidden;
  transform: skewY(-3deg);
  animation: slide-card 0s infinite;
}
@keyframes slide-card {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
}
.image-cards .apps-box .apps:hover {
  transform: scale(1.1);
  transition: all 0.1s;
}
.image-cards .apps-box .apps img {
  border-radius: 20px;
  width: 280px;
  height: 200px;
  position: relative;
  object-fit: cover;
  transition: all 0.8s ease-in-out;
}
.image-cards .apps-box .apps:hover img {
  transform: scale(1.1);
  opacity: 0.3;
}
.image-cards .apps-box .apps h3 {
  position: absolute;
  font-size: 20px;
  font-family: mv boli;
  opacity: 0;
  padding-left: 80px;
  color: orange;
  padding-top: 20px;
  transition: 0.3s;
}
.image-cards .apps-box .apps:hover h3 {
  opacity: 1;
}
.image-cards .apps-box .apps p {
  position: absolute;
  font-size: 15px;
  opacity: 0;
  color: white;
  padding: 60px 30px 0 30px;
  transition: 0.3s;
}
.image-cards .apps-box .apps:hover p {
  opacity: 1;
}
.apps {
  width: 280px;
  border-radius: 20px;
  background: black;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .alumni-page {
    width: 100%;
    height: 500px;
  }
  .alumni-page h1 {
    font-size: 25px;
  }
  .apps {
    width: 380px;
  }
  .image-cards .apps-box .apps img {
    width: 380px;
    height: 280px;
  }
  .image-cards .apps-box .apps h3 {
    font-size: 30px;
    padding-top: 25px;
  }
  .image-cards .apps-box .apps p {
    font-size: 20px;
    padding: 80px 30px 0 30px;
  }
}
@media screen and (max-width: 680px) {
  .alumni-page {
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  .alumni-page h1 {
    font-size: 25px;
  }
  .apps {
    width: 320px;
  }
  .image-cards .apps-box .apps img {
    width: 320px;
    height: 230px;
  }
  .image-cards .apps-box .apps h3 {
    font-size: 20px;
    padding-left: 40px;
    padding-top: 20px;
  }
  .image-cards .apps-box .apps p {
    font-size: 16px;
    padding: 60px 30px 0 30px;
  }
  .image-cards .apps-box {
    width: 400%;
  }
}
@media screen and (max-width: 414px) {
  .alumni-page {
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  .alumni-page h1 {
    font-size: 25px;
  }
  .apps {
    width: 320px;
  }
  .image-cards .apps-box {
    width: 400%;
  }
  .image-cards .apps-box .apps img {
    width: 320px;
    height: 280px;
  }
  .image-cards .apps-box .apps h3 {
    font-size: 30px;
    padding-top: 25px;
    padding-left: 70px;
  }
  .image-cards .apps-box .apps p {
    font-size: 20px;
    padding: 80px 30px 0 30px;
  }
}
@media screen and (max-width: 360px) {
  .alumni-page {
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  .alumni-page h1 {
    font-size: 25px;
  }
  .apps {
    width: 280px;
  }
  .image-cards .apps-box {
    width: 400%;
  }
  .image-cards .apps-box .apps img {
    width: 280px;
    height: 280px;
  }
  .image-cards .apps-box .apps h3 {
    font-size: 20px;
    padding-top: 25px;
    padding-left: 70px;
  }
  .image-cards .apps-box .apps p {
    font-size: 18px;
    padding: 80px 30px 0 30px;
  }
}
