.application-container {
  background-color: rgba(255, 255, 255, 0.735);
  /* height: 100vh; */
  width: 100%;
  color: black;
}
h1 {
  text-align: center;
  padding-top: 2rem;
  text-transform: uppercase;
}
.application-upper {
  /* background-image: linear-gradient(
    rgba(128, 128, 128, 0.299),
    rgba(2, 100, 113, 0.108),
    url("https://images.pexels.com/photos/5076531/pexels-photo-5076531.jpeg?auto=compress&cs=tinysrgb&w=600")
  ); */
  background: linear-gradient(
      rgba(25, 135, 179, 0.577),
      rgba(250, 250, 250, 0.6)
    ),
    url("https://images.pexels.com/photos/5076531/pexels-photo-5076531.jpeg?auto=compress&cs=tinysrgb&w=600");
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
.application-upper-content {
  margin: 2rem 320px;
  padding-top: 100px;
  text-transform: uppercase;
  width: 50%;
}
.application-upper-content button {
  margin-left: 250px;
  margin-top: 60px;
}
.appliction-middle {
  display: flex;
  /* height: 50vh; */
  width: 90%;
  margin: auto;
}
h3 {
  padding-top: 30px;
}
.appliction-middle2 {
  display: flex;
  /* height: 50vh; */
  width: 90%;

  margin-top: 30px;
  margin-left: 65px;

  /* margin: auto; */
}
.application-middlePart1 {
  display: flex;
  width: 50%;
  height: 20vh;
  padding: 15px;
}
.middlepart-left {
  border: 1px solid rgb(1, 49, 76);
  width: 150px;
  height: 100px;
  padding: 28px 13px;
  border-radius: 50%;
  margin-top: 25px;
}

.middlepart-right {
  padding-left: 25px;
  margin-top: 20px;
}
.middlepart-right h2 {
  text-align: center;
  padding: 5px 7px 15px 5px;
}
.application-middlePart2 {
  width: 50%;
  height: 20vh;
  display: flex;
}
.application-lower-content {
  margin-top: 50px;
  padding-bottom: 40px;
}
.application-lower-content p {
  text-align: center;
  padding: 20px 200px;
}
.application-lower-content-element {
  width: 80%;
  margin: auto;
  display: flex;
  padding-top: 50px;
}
.application-lower-content-left {
  width: 40%;
  height: 40vh;
}
.application-lower-content-middle {
  width: 0.2%;
  height: 40vh;
  background-color: black;
}
.application-lower-content-right {
  width: 57%;
  height: 40vh;
}
hr {
  background-color: black;
  height: 3px;
}
.application-courses {
  display: flex;
}
.vl {
  width: 1px;
  margin-top: 10px;
  margin-left: 10px;
  height: 4vh;
  background-color: black;
}
.application-lower-content-right button {
  margin-left: 250px;
  margin-top: 40px;
}
.application-lower-content-right h2 {
  text-align: center;
  padding: 5px;
  font-weight: 300;
}
.flyer {
  margin: auto;
}
