 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Container-content{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    /* background-image: url(./program/IMG-20230510-WA0053.jpg); */
}
.Container-content::before{
    content: "";
    background-color:#000a00;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    height: 60vh;
}
.Container-content-one {
  width: 70vw; 
  border-radius: 20px;
  position: absolute;
  padding: 0px 50px 30px 50px;
  background-color: white;
  opacity: .5;
  font-size: larger;
}

.Container-content-one li{
    list-style: none;
    padding-top: 20px;
    color: black;
}
.Container-content-one h1{
    text-align: center;
    color: #334a60;
}
.Container-content-one span{
 font-weight: bolder;
}

.Container-content-two{
 padding-left: 70px;
}

.Container-content-two h1{
    padding-top: 20px;;
    text-align: center;
    color: #334a60;
    font-size: 40px;
}
.content{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
/* .Card{
    font-size: 17px;
    text-align: center;
    width: 400px;
    padding: 30px 70px 30px 70px;
} 
 .Container-content-two .Image1{
    width: 200px;
    margin-left: 85px;
    background-repeat: no-repeat;
    height: 100px;
    background-image: url(./program/Screenshot\ 2023-05-16\ 164040.png);
}
.Container-content-two .Image2{
    width: 200px;
    margin-left: 85px;
    background-repeat: no-repeat;
    height: 100px;
    background-image: url(./program/Screenshot\ 2023-05-16\ 163956.png);
}
.Container-content-two .Image3{
    width: 200px;
    margin-left: 85px;
    background-repeat: no-repeat;
    height: 100px;
    background-image: url(./program/Screenshot\ 2023-05-16\ 163904.png);
}
.Container-content-two .Image4{
    width: 200px;
    margin-left: 85px;
    background-repeat: no-repeat;
    height: 100px;
    background-image: url(./program/Screenshot\ 2023-05-16\ 164123.png);
}
.Container-content-two .Image5{
    width: 200px;
    margin-left: 85px;
    background-repeat: no-repeat;
    height: 100px;
    background-image: url(./program/Screenshot\ 2023-05-16\ 164205.png);
} 
 @media screen and (max-width: 576px){
    .Container-content-one {
          padding: 10px;
        width: 98vw; 
      }
      .Container-content-one li{
        list-style: none;
        padding-top: 10px;
        color: black;
    }
    .Container-content-one h1{
        text-align: center;
        color: #334a60;
        font-size: 25px;
    }
}  */

/*@media screen and (min-width: 577px) and (max-width: 768px){

}

@media screen and (min-width: 769px) and (max-width: 992px){

}

@media screen and ((min-width: 1201)){

} */
