* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.alumni-page {
  width: 100%;
  overflow: hidden;
  animation: slideInUp 3s;
}
@keyframes slideInUp {
  from {
    transform: translateY(300px);
  }
  to {
    transform: translateY(0);
  }
}
.alumni-page .alumn-header {
  text-align: center;
  font-size: 25px;
  color: white;
}
.alumni-page .alumn-header::after {
  content: "";
  background: linear-gradient(#33d4d6, white);
  display: block;
  height: 6px;
  width: 100px;
  margin-top: 15px;
  margin: auto;
}

.image-cards {
  margin-top: 40px;
  width: 400%;
}
.image-cards .apps-box {
  width: 100%;
  display: flex;
  gap: 40px;
  transition: all 03s;
  z-index: -5;
  animation: scroll 20s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 5));
  }
}
.image-cards .apps-box .apps {
  overflow: hidden;
  /* transform: skewY(-3deg); */
}
.image-cards .apps-box .apps:hover {
  transform: scale(1.1);
  transition: all 0.1s;
}
.image-cards .apps-box .apps img {
  border-radius: 20px;
  width: 280px;
  height: 200px;
  position: relative;
  object-fit: cover;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
}
.image-cards .apps-box .apps:hover img {
  transform: scale(1.1);
  opacity: 0.3;
}
.image-cards .apps-box .apps h3 {
  position: absolute;
  font-size: 20px;
  font-family: mv boli;
  opacity: 0;
  padding-left: 80px;
  color: orange;
  padding-top: 20px;
  transition: 0.3s;
}
.image-cards .apps-box .apps:hover h3 {
  opacity: 1;
}
.image-cards .apps-box .apps p {
  position: absolute;
  font-size: 15px;
  opacity: 0;
  color: white;
  padding: 60px 30px 0 30px;
  transition: 0.3s;
  cursor: pointer;
}
.image-cards .apps-box .apps:hover p {
  opacity: 1;
}
.apps {
  width: 280px;
  border-radius: 20px;
  background: black;
  display: flex;
  justify-content: space-between;
}

