*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
a{
    color: white;
}
.hamGrid{
    display: grid;
}
.all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 10px;
    transition: all .50s ease;
    background-color: #FDF8F8;
    background-color: #082940;
    background-color: #343434;
    box-shadow:  0px 2px 8px 0px rgba(0, 0, 0, 0.5);
}
img{
    width: 70px;
}

.navbar{
    display: flex;
    margin-left: 400px;
}
.navbar a{
    font-size: 17px;
    font-weight: 500;
    margin: 0 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: #33D4D6;
    transition: 0.5s ease;
    cursor: pointer;
}
img:hover{
    cursor: pointer;
}
.navbar li a i{
   font-size: 20px;
   position: absolute;
}
.navbar a i:hover{
    color: #33D4D6;
    transition: 0.5s ease;
    cursor: pointer;
}
.navbar  a.active{
    color: #33D4D6;
}
.btn{
    height: 40px;
    color: white;
    border: none;
    margin-top: 5px;
    margin-left: 30px;
    padding: 0 18px;
    border-radius: 8px;
    transition: all .50s ease;
    font-weight: 500;
    background-color: #33D4D6;
    font-weight: bolder;
}
.btn:hover{
    background-color: white;
    color: #33D4D6;
    cursor: pointer;
}
.mymenu{
    display: flex;
    align-items: center;
    display: none;
}
#menu-icon{
    display: none;
}
#mymenu-icon{
    font-size: 35px;
    color: white;
    cursor: pointer;
    z-index: 10001;
}
.hamberger{
    box-shadow:  0px 2px 8px 0px rgba(2, 1, 1, 0.5);
    height: 100%;
    background-color: #343434;
    text-align: center;
    display: none;
}

.hamberger p{
    padding: 10px 0px;
}

.close{
display: none;
}

/* .faButton::before,
.faButton::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: black;
  transform: translate(-50%, -50%) rotate(45deg);
}

.faButton::after {
  transform: translate(-50%, -50%) rotate(-45deg);
} */

@media screen and (max-width: 576px){
    .navbar,.btn{
        display: none;
    }
    #menu-icon{
        display: block;
        font-size: 40px;
    }
    .hamberger, .close{
        display: block;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px){

    .navbar{
        display: flex;
        margin-left: 60px;
    }
    .navbar a{
        font-size: 17px;
        font-weight: 500;
        margin: 0 10px;
        transition: all .50s ease;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px){
    .navbar{
        display: flex;
        margin-left: 60px;
    }
    .navbar a{
        font-size: 17px;
        font-weight: 500;
        margin: 0 10px;
        transition: all .50s ease;
    }
}

@media screen and ((min-width: 1201)){

}
